PORT=8080
DATABASE_URL='postgres://postgres:mypassword@localhost:5555/postgres'

NODE_ENV=development

APP_ORIGIN="http://localhost:3000"
PINO_LOG_LEVEL=info

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAILTRAP_API_TOKEN
MAILTRAP_SENDER_EMAIL

ACCESS_TOKEN_SECRET=test
ACCESS_TOKEN_EXPIRY=1d #15m

REFRESH_TOKEN_SECRET=test2
REFRESH_TOKEN_EXPIRY=3d

VERIFICATION_TOKEN_EXPIRY_MINUTES=30
MAX_SESSIONS=5

GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET